.env
.env.*
!.env.example
!.env.production.example
.git
.github
.idea
.vscode
.phpunit.cache
.phpunit.result.cache
.phpstan.cache
node_modules
vendor
storage/app/*
!storage/app/.gitignore
storage/framework/*
!storage/framework/.gitignore
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*.php
public/storage
tests
**/tests
docs
docker-compose*.yml
compose*.yaml
Makefile
README.md
